[submodule "SanityEngine/extern/tracy"]
	path = SanityEngine/extern/tracy
	url = https://github.com/wolfpld/tracy.git
[submodule "SanityEngine/extern/rex"]
	path = SanityEngine/extern/rex
	url = https://github.com/DethRaid/rex.git
